@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
     overflow-x:hidden   
     /* width:100% */
     
    }
}

.slick-slide >div{
    margin:0 10px;
}
#para{
    position:absolute;
    top:30%;
}
#para1{
    position:absolute;
    top:40%;
}
#con{
    margin-left:-20px;
}
#round{
    border-radius:18px;
      
}

.res{
    display: flex;
    flex-direction: row ;

}

@media only screen and (max-width: 600px) {
 .res{
    flex-direction: column !important;
}
}

.hid{
    display:block;
}

@media only screen and (min-width: 426px){
    .hid{
        display:none;
    }
}
.ic{
    display:block;
}
@media only screen and (max-width: 426px){
    .ic{
        display:none;
    }
}
